@model autentikasManager.ViewModels.IndexViewModel
<div id="OrdersHub">
    <div class="card" style="min-height: 100%">
        <div class="card-body">
            <div class="row">
                <div class="col-md-2">
                    <a href="/Orders/Add" class="btn btn-lg btn-info">Crear Orden</a>
                </div>
                <div class="col-md-2" style="padding-top:5px">
                    <div class="form-group form-group-feedback form-group-feedback-left">
                        <input class="form-control datepicker" data-bind="value: DateToSearch" data-date-format="dd/mm/yyyy" placeholder="Buscar por fecha" />
                        <div class="form-control-feedback">
                            <i class="icon-calendar text-muted"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-2" style="padding-top:10px">
                    <span data-bind="visible: SearchPackaged, click: ActionPackaged" class="badge bg-orange-600 badge-pill"><i class="icon-box"></i></span>
                    <span data-bind="visible: !SearchPackaged(), click: ActionPackaged" class="badge bg-grey badge-pill"><i class="icon-box"></i></span>
                    <span data-bind="visible: SearchDelivered, click: ActionDelivered" class="badge bg-orange-600 badge-pill"><i class="icon-bike"></i></span>
                    <span data-bind="visible: !SearchDelivered(), click: ActionDelivered" class="badge bg-grey badge-pill"><i class="icon-bike"></i></span>
                    <span data-bind="visible: SearchPaid, click: ActionPaid" class="badge bg-orange-600 badge-pill"><i class="icon-coin-dollar"></i></span>
                    <span data-bind="visible: !SearchPaid(), click: ActionPaid" class="badge bg-grey badge-pill"><i class="icon-coin-dollar"></i></span>
                </div>
            </div>
        </div>
        <hr />
        <div>
            <div data-bind="visible: Loading()" style="text-align:center; padding-top:55px; padding-bottom:55px">
                <img src="~/Images/bigLoading.gif" width="125" />
            </div>
            <div data-bind="visible: !Loading()">
                <div class="row" style="padding-left: 25px; padding-right:25px">
                    <div class="col-md-6" style="text-align:left">
                        <h5>Total Pedidos: <text data-bind="text: Orders().length"></text> | Total Galletas: <text data-bind="text: CookieTotal"></text></h5>
                    </div>
                    <div class="col-md-6" style="text-align:right">
                        <h5> Total Pagos: <text data-bind="text: TotalPay().formatMoney(2)"></text> | Total Ganancia: <text data-bind="text: TotalProfit().formatMoney(2)"> </text> </h5>
                    </div>
                    <div class="col-md-12">
                        <table style="margin-top: 25px; margin-bottom:25px;font-size: medium" class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>
                                        Información del cliente
                                    </th>
                                    <th>
                                        Detalles del pedido
                                    </th>
                                    <th>
                                        Money Talk
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody data-bind="foreach: Orders">
                                <tr>
                                    <td width="45%">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <span style="cursor:pointer" data-bind="visible: Prepared, click: Pack" class="badge bg-orange-600 badge-pill"><i class="icon-box"></i></span>
                                                <span style="cursor:pointer" data-bind="visible: !Prepared() ,click: Pack" class="badge bg-grey badge-pill"><i class="icon-box"></i></span>
                                                <span style="cursor:pointer" data-bind="visible: Delivered, click: Deliver" class="badge bg-orange-600 badge-pill"><i class="icon-bike"></i></span>
                                                <span style="cursor:pointer" data-bind="visible: !Delivered(), click: Deliver" class="badge bg-grey badge-pill"><i class="icon-bike"></i></span>
                                                <span style="cursor:pointer" data-bind="visible: Paid, click: Pay" class="badge bg-orange-600 badge-pill"><i class="icon-coin-dollar"></i></span>
                                                <span style="cursor:pointer" data-bind="visible: !Paid(), click: Pay" class="badge bg-grey badge-pill"><i class="icon-coin-dollar"></i></span>
                                            </div>
                                            <div class="col-md-6" style="text-align:right">
                                                <strong data-bind="text: TentativeDeliveryDateFormattedLong"></strong>
                                            </div>
                                        </div>

                                        <i class="icon-user text-muted"></i> <strong data-bind="text: $data.ClientName"></strong>
                                        <span>&nbsp;&nbsp;</span>
                                        <i class="icon-phone text-muted"></i> <text data-bind="text: $data.ClientPhone"></text>
                                        <br />
                                        <i class="icon-envelop text-muted"></i> <text data-bind="text: $data.ClientEmail"></text>
                                        <span>&nbsp;&nbsp;</span>
                                        <i class="icon-instagram text-muted"></i> <text data-bind="text: $data.ClientInstagram"></text>
                                        <br />
                                        <i class="icon-mailbox text-muted"></i> <strong data-bind="text: $data.ClientAddress"></strong>
                                        <br />
                                        <i class="icon-credit-card text-muted"></i> <text data-bind="text: $data.PaymentMethod"></text>
                                        <span>&nbsp;&nbsp;</span>
                                        <i class="icon-bike text-muted"></i> <strong data-bind="text: $data.DeliveryMethod"></strong>
                                        <span>&nbsp;&nbsp;</span>
                                        <br />
                                        <i class="icon-pencil text-muted"></i> <text data-bind="text: $data.Notes"></text>
                                    </td>
                                    <td>
                                        <table style="border-color:white; border: 0px">
                                            <tbody data-bind="foreach: $data.OrderDetails">
                                                <tr style="border: 0px;">
                                                    <td style="padding:0px; padding-right:10px;border: 0px">
                                                    </td>
                                                    <td style="padding:0px;border: 0px">
                                                        <div data-bind="visible: $data.Package.CookiesQuantity > 0 && $data.PackageId != null">
                                                            <text data-bind="text: $data.Package.Name"></text>
                                                            <div>
                                                                <span class="badge" style="background-color:#6C4E4C; color:white; font-size:15px;">Kookie: <text data-bind="text: $data.KookieCount"></text></span>
                                                                <span class="badge" style="background-color:#D99C59; font-size:15px">Kanela: <text data-bind="text: $data.KanelaCount"></text></span>
                                                                <span class="badge" style="background-color:#4F2F2D; color:white; font-size:15px">Kakao: <text data-bind="text: $data.KakaoCount"></text></span>
                                                            </div>
                                                        </div>
                                                        <div style="padding-top:5px" data-bind="visible: $data.Package.CookiesQuantity == 0 && $data.PackageId != null">
                                                            <span class="badge" style="background-color:#6C4E4C; color:white; font-size:15px;"><text data-bind="text: $data.Package.Name"></text></span>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        <br />
                                        <div style="text-align:center">
                                            <span style="font-size:15px" class="badge bg-blue"><text data-bind="text: TotalCookiesCount"></text> Galletas</span>
                                        </div>
                                    </td>
                                    <td>
                                        <span style="font-size:15px" class="badge bg-danger-300">Costo: <text data-bind="text: TotalCost().formatMoney(2)"></text> </span><br />
                                        <span style="font-size:15px;color:white" class="badge bg-success-300">Precio: <text data-bind="text: TotalPrice().formatMoney(2)"></text> </span><br />
                                        <span style="font-size:15px;color:white" class="badge bg-success-300"><strong>Ganancia: <text data-bind="text: Profit().formatMoney(2)"></text> </strong></span>
                                    </td>
                                    <td class="text-center">
                                        <div class="list-icons">
                                            <div class="dropdown">
                                                <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
                                                <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-164px, 19px, 0px);">
                                                    <a data-bind="click: MarkAll" class="dropdown-item"><i class="icon-check"></i> Marcar todas</a>
                                                    <a data-bind="click: $parent.Edit" class="dropdown-item"><i class="icon-pencil"></i> Editar</a>
                                                    <a data-bind="click: $parent.Delete" href="#" class="dropdown-item delete"><i class="icon-trash"></i> Eliminar</a>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td></td>
                                    <td style="text-align:center">
                                        <h3>Total galletas</h3>
                                        <span class="badge" style="background-color:#6C4E4C; color:white; font-size:15px;">Kookie: <text data-bind="text: TotalKookiecount"></text></span>
                                        <span class="badge" style="background-color:#D99C59; font-size:15px">Kanela: <text data-bind="text: TotalKanelacount"></text></span>
                                        <span class="badge" style="background-color:#4F2F2D; color:white; font-size:15px">Kakao: <text data-bind="text: TotalKakaocount"></text></span>
                                        <br />
                                        <span class="badge" style="background-color:#6C4E4C; color:white; font-size:15px;">Cerialito: <text data-bind="text: TotalNonCookies"></text></span>

                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        function ViewModel() {
            var self = this;
            self.LastHeight = 0;
            self.Orders = ko.observableArray();
            self.DateToSearch = ko.observable();
            self.SearchPackaged = ko.observable(false);
            self.SearchDelivered = ko.observable(false);
            self.SearchPaid = ko.observable(false);

            self.DateToSearch.subscribe(function () {
                self.GetData();
            });

            self.ActionPackaged = function () {
                self.SearchPackaged(!self.SearchPackaged());
                self.GetData();
            }

            self.ActionDelivered = function () {
                self.SearchDelivered(!self.SearchDelivered());
                self.GetData();
            }

            self.ActionPaid = function () {
                self.SearchPaid(!self.SearchPaid());
                self.GetData();
            }

            self.Loading = ko.observable(true);

            self.GetData = function () {
                self.Loading(true);
                console.log(self.DateToSearch());
                var url = '/Orders/GetData/?delivered=' + self.SearchDelivered() +
                    '&packaged=' + self.SearchPackaged() +
                    '&paid=' + self.SearchPaid();
                if (self.DateToSearch() != null && self.DateToSearch().length > 0) {
                    url = '/Orders/GetDataByDate?date=' + self.DateToSearch() + '&delivered=' + self.SearchDelivered() +
                        '&packaged=' + self.SearchPackaged() +
                        '&paid=' + self.SearchPaid();;
                }
                $.ajax({
                    url: url,
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        self.Orders([]);
                        for (var i = 0; i < data.length; i++) {
                            self.Orders.push(new Order(data[i]));
                        }

                        self.Loading(false);
                    }
                });
            }

            self.CookieTotal = ko.computed(function () {
                var cookieTotal = 0;
                for (var i = 0; i < self.Orders().length; i++) {
                    var order = self.Orders()[i];
                    for (var j = 0; j < order.OrderDetails().length; j++) {
                        var orderDetail = order.OrderDetails()[j];
                        cookieTotal = cookieTotal + orderDetail.KakaoCount + orderDetail.KanelaCount + orderDetail.KookieCount;
                    }
                }
                return cookieTotal;
            })

            self.TotalKookiecount = ko.computed(function () {
                var cookieTotal = 0;
                for (var i = 0; i < self.Orders().length; i++) {
                    var order = self.Orders()[i];
                    for (var j = 0; j < order.OrderDetails().length; j++) {
                        var orderDetail = order.OrderDetails()[j];
                        cookieTotal = cookieTotal + orderDetail.KookieCount;
                    }
                }
                return cookieTotal;
            })

            self.TotalKakaocount = ko.computed(function () {
                var cookieTotal = 0;
                for (var i = 0; i < self.Orders().length; i++) {
                    var order = self.Orders()[i];
                    for (var j = 0; j < order.OrderDetails().length; j++) {
                        var orderDetail = order.OrderDetails()[j];
                        cookieTotal = cookieTotal + orderDetail.KakaoCount;
                    }
                }
                return cookieTotal;
            })

            self.TotalNonCookies = ko.computed(function () {
                var cookieTotal = 0;
                for (var i = 0; i < self.Orders().length; i++) {
                    var order = self.Orders()[i];
                    for (var j = 0; j < order.OrderDetails().length; j++) {
                        var orderDetail = order.OrderDetails()[j];
                        if (orderDetail.Package.CookiesQuantity == 0)
                            cookieTotal++;
                    }
                }
                return cookieTotal;
            })

            self.TotalKanelacount = ko.computed(function () {
                var cookieTotal = 0;
                for (var i = 0; i < self.Orders().length; i++) {
                    var order = self.Orders()[i];
                    for (var j = 0; j < order.OrderDetails().length; j++) {
                        var orderDetail = order.OrderDetails()[j];
                        cookieTotal = cookieTotal + orderDetail.KanelaCount;
                    }
                }
                return cookieTotal;
            })

            self.TotalPay = ko.computed(function () {
                var totalPay = 0;
                for (var i = 0; i < self.Orders().length; i++) {
                    var order = self.Orders()[i];
                    totalPay = totalPay + parseFloat(order.TotalPrice());
                }
                return totalPay;
            })

            self.TotalProfit = ko.computed(function () {
                var totalProfit = 0;
                for (var i = 0; i < self.Orders().length; i++) {
                    var order = self.Orders()[i];
                    totalProfit = totalProfit + (parseFloat(order.TotalPrice()) - parseFloat(order.TotalCost()));
                }
                return totalProfit;
            })

            self.Edit = function (order) {
                window.location.replace("/Orders/Edit/" + order.Id);
            }

            self.Delete = function (order) {
                var r = confirm("Está seguro que desea borrar la orden?");
                if (r == true) {
                    $.ajax({
                        url: '/Orders/Delete/' + order.Id,
                        type: 'GET',
                        dataType: 'json',
                        success: function () {
                            self.GetData();
                        }
                    });
                }
            }

            $('.datepicker').datepicker({
            });
        }

        function Order(data) {
            var self = this;
            self.Id = data.Id;
            self.ClientName = ko.observable(data.ClientName);
            self.ClientPhone = ko.observable(data.ClientPhone);
            self.ClientEmail = ko.observable(data.ClientEmail);
            self.ClientInstagram = ko.observable(data.ClientInstagram);
            self.ClientAddress = ko.observable(data.ClientAddress);
            self.PaymentMethod = ko.observable(data.PaymentMethod);
            self.DeliveryMethod = ko.observable(data.DeliveryMethod);
            self.TotalCost = ko.observable(data.TotalCost);
            self.TotalPrice = ko.observable(data.TotalPrice);
            self.Profit = ko.observable(data.Profit);
            self.Notes = ko.observable(data.Notes);
            self.OrderDetails = ko.observableArray(data.OrderDetails);
            self.TotalCookiesCount = ko.observable(data.TotalCookiesCount);
            self.Prepared = ko.observable(data.Prepared);
            self.Delivered = ko.observable(data.Delivered);
            self.Paid = ko.observable(data.Paid);
            self.TentativeDeliveryDateFormattedLong = ko.observable(data.TentativeDeliveryDateFormattedLong);

            self.Pack = function () {
                $.ajax({
                    url: '/Orders/MarkAsPrepared/' + self.Id,
                    type: 'GET',
                    dataType: 'json',
                    success: function () {
                        var prepared = !self.Prepared();
                        self.Prepared(prepared);
                    }
                });
            }

            self.Deliver = function () {
                $.ajax({
                    url: '/Orders/MarkAsDelivered/' + self.Id,
                    type: 'GET',
                    dataType: 'json',
                    success: function () {
                        var delivered = !self.Delivered();
                        self.Delivered(delivered);
                    }
                });
            }

            self.Pay = function () {
                $.ajax({
                    url: '/Orders/MarkAsPayed/' + self.Id,
                    type: 'GET',
                    dataType: 'json',
                    success: function () {
                        var paid = !self.Paid();
                        self.Paid(paid);
                    }
                });
            }

            self.MarkAll = function () {
                $.ajax({
                    url: '/Orders/MarkEverything/' + self.Id,
                    type: 'GET',
                    dataType: 'json',
                    success: function () {
                        self.Prepared(true)
                        self.Delivered(true);
                        self.Paid(true);
                    }
                });
            }

        }

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel, document.getElementById('OrdersHub'));

        @if (Model.Date != null && Model.Date.Length > 0)
        {
            <text>
                viewModel.DateToSearch('@Model.Date');
                viewModel.GetData();
            </text>
        }
        else
        {
            <text>
                viewModel.GetData();
            </text>
        }
    })
</script>
