@model IList<DAL.Models.Order>

<div id="OrdersHub">
    <div class="card" style="min-height: 100%">
        <div class="card-body">
            <a href="/Orders/Add" class="btn btn-lg btn-info">Crear Orden</a>
            <table style="margin-top: 25px; font-size: medium" class="table table-bordered">
                <thead>
                    <tr>
                        <th>
                            Información del cliente
                        </th>
                        <th>
                            Fecha de entrega
                        </th>
                        <th>
                            Detalles del pedido
                        </th>
                        <th>
                            Money Talk
                        </th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind="foreach: Orders">
                    <tr>
                        <td>
                            <span data-bind="visible: $data.Prepared" class="badge bg-blue badge-pill"><i class="icon-box"></i></span>
                            <span data-bind="visible: $data.Delivered" class="badge bg-blue badge-pill"><i class="icon-bike"></i></span>
                            <span data-bind="visible: $data.Paid" class="badge bg-blue badge-pill"><i class="icon-coin-dollar"></i></span>
                            <br />
                            <i class="icon-user text-muted"></i> <text data-bind="text: $data.ClientName"></text>
                            <span>&nbsp;&nbsp;</span>
                            <i class="icon-phone text-muted"></i> <text data-bind="text: $data.ClientPhone"></text>
                            <br />
                            <i class="icon-envelop text-muted"></i> <text data-bind="text: $data.ClientEmail"></text>
                            <br />
                            <i class="icon-mailbox text-muted"></i> <text data-bind="text: $data.ClientAddress"></text>
                            <br />
                            <i class="icon-credit-card text-muted"></i> <text data-bind="text: $data.PaymentMethod"></text>
                        </td>
                        <td>
                            <text data-bind="text: $data.TentativeDeliveryDateFormattedLong"></text>
                        </td>
                        <td>
                            <table style="border-color:white; border: 0px">
                                <tbody data-bind="foreach: $data.OrderDetails">
                                    <tr style="border: 0px">
                                        <td style="padding:0px; padding-right:10px;border: 0px">
                                            <text data-bind="text: $data.Package.Name"></text>
                                        </td>
                                        <td style="padding:0px;border: 0px">
                                            <div data-bind="visible: $data.Package.CookiesQuantity > 0">
                                                <span class="badge" style="background-color:#6C4E4C; color:white">Kookie: <text data-bind="text: $data.KookieCount"></text></span>
                                                <span class="badge" style="background-color:#D99C59">Kanela: <text data-bind="text: $data.KanelaCount"></text></span>
                                                <span class="badge" style="background-color:#4F2F2D; color:white">Kakao: <text data-bind="text: $data.KakaoCount"></text></span>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <br />
                            <div style="text-align:center">
                                <span class="badge bg-blue"><text data-bind="text: $data.TotalCookiesCount"></text> Galletas</span>
                            </div>
                        </td>
                        <td>
                            <span class="badge bg-danger-300">Costo: <text data-bind="text: $data.TotalCost.formatMoney(2)"></text> </span><br />
                            <span class="badge bg-success-300" style="color:white">Precio: <text data-bind="text: $data.TotalPrice.formatMoney(2)"></text> </span><br />
                            <span class="badge bg-success-300" style="color:white"><strong>Ganancia: <text data-bind="text: $data.Profit.formatMoney(2)"></text> </strong></span>
                        </td>
                        <td class="text-center">
                            <div class="list-icons">
                                <div class="dropdown">
                                    <a href="#" class="list-icons-item dropdown-toggle caret-0" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
                                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(-164px, 19px, 0px);">
                                        <a data-bind="click: $parent.Pack" href="#" class="dropdown-item changeStatus"><i class="icon-box"></i> Empaquetar</a>
                                        <a data-bind="click: $parent.Deliver" href="#" class="dropdown-item changeStatus"><i class="icon-bike"></i> Entregar</a>
                                        <a data-bind="click: $parent.Pay" href="#" class="dropdown-item changeStatus"><i class="icon-coin-dollar"></i> Pagar</a>
                                        <div class="dropdown-divider"></div>
                                        <a data-bind="click: $parent.Edit" class="dropdown-item"><i class="icon-pencil"></i> Editar</a>
                                        <a data-bind="click: $parent.Delete" href="#" class="dropdown-item delete"><i class="icon-trash"></i> Eliminar</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $('.delete').click(function () {
        var r = confirm("Está seguro que desea borrar la orden?");
        if (r == true) {
            window.location.replace($(this).attr('id'));
        }
    })

    $('.changeStatus').click(function () {
        window.location.replace($(this).attr('id'));
    })

    $(document).ready(function () {
        function ViewModel() {
            var self = this;
            self.Orders = ko.observableArray();
            self.GetData = function () {
                $.ajax({
                    url: '/Orders/GetData/',
                    type: 'GET',
                    dataType: 'json',
                    success: function (data) {
                        self.Orders([]);
                        self.Orders(data);
                    }
                });
            }

            self.Pack = function (order) {
                $.ajax({
                    url: '/Orders/MarkAsPrepared/' + order.Id,
                    type: 'GET',
                    dataType: 'json',
                    success: function () {
                        self.GetData();
                    }
                });
            }

            self.Deliver = function (order) {
                $.ajax({
                    url: '/Orders/MarkAsDelivered/' + order.Id,
                    type: 'GET',
                    dataType: 'json',
                    success: function () {
                        self.GetData();
                    }
                });
            }

            self.Pay = function (order) {
                $.ajax({
                    url: '/Orders/MarkAsPayed/' + order.Id,
                    type: 'GET',
                    dataType: 'json',
                    success: function () {
                        self.GetData();
                    }
                });
            }

            self.Edit = function (order) {
                window.location.replace("/Orders/Edit/" + order.Id);
            }

            self.Delete = function (order) {
                var r = confirm("Está seguro que desea borrar la orden?");
                if (r == true) {
                    $.ajax({
                        url: '/Orders/Delete/' + order.Id,
                        type: 'GET',
                        dataType: 'json',
                        success: function () {
                            self.GetData();
                        }
                    });
                }
            }
        }

        var viewModel = new ViewModel();
        ko.applyBindings(viewModel, document.getElementById('OrdersHub'));
        viewModel.GetData();
    })
</script>
